%flex-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
