.footer {
  padding: 25px 0;
  background-color: $dark;
  color: $white;
  display: flex;

  &__container {
    @extend %flex-container;
    gap: 20px;
  }

  &__list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  &__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    background: {
      color: $white;
      size: 70%;
      position: center;
      repeat: no-repeat;
    }
  }
}
