.main {
  &__container {
    @extend %flex-container;
  }

  background: {
    image: linear-gradient(rgba(246, 242, 242, 0.9), rgba(246, 242, 242, 0.9)), url("../images/products/b1.jpg");
    size: cover;
    repeat: no-repeat;
    position: center;
  }
  padding-top: 120px;

  &__poster {
    display: none;
    position: absolute;
    width: 550px;
    height: auto;
    right: 0;
    object-fit: cover;

    @media (min-width: $desktop) {
      display: block;
    }
  }
}
