.trainings {
  &__list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-auto-rows: 200px;

    @media (min-width: $desktop) {
      grid-gap: 40px;
      grid-template-rows: repeat(2, 290px);
    }
  }

  &__img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__video {
    text-align: center;
    margin: 0 auto 10px;
    width: 100%;
    height: 315px;

    @media (min-width: $desktop) {
      width: 560px;
      margin: 0 auto 40px;
    }
  }
}
